html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: lightgrey;
}
label{
    font-weight: bold;
}
.form-control{
    background-color: darkgray;
    color: white
}
.form-group{
    text-align: center;
}
table{
    background-color: darkgrey;
}
th {
    color: black;
    text-align: center;
    border: solid 1px black;
}
td {
    color: black;
    text-align: center;
    border: solid 1px black;
}
button{
background-color: lightgray;
text-align: center;

}
header{
    background-color: black;
}
.container-fluid{
    background-color:  lightsteelblue;
}
a{
    color: royalblue;
    text-decoration: none;
    font-weight: bold;
}