html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #79A7D3
    ;
}
label{
    font-weight: bold;
}
.form-control {
    background-color: #79A7D3;
    color: white
}
.form-group{
    text-align: center;
}
table {
    background-color: #79A7D3;
}
th {
    color: black;
    text-align: center;
    border: solid 1px black;
}
td {
    color: black;
    text-align: center;
    border: solid 1px black;
}
button {
    background-color: #79A7D3;
    text-align: center;
}
header{
    background-color: black;
}
.container-fluid {
    background-color: #6883BC;
}
a{
    color: royalblue;
    text-decoration: none;
    font-weight: bold;
}
