
body {
    margin-bottom: 60px;
    background-color: #99dff2;
}

#filterTodoContainer {
    margin-top: 50px;
    list-style: none;
    text-decoration: none;
}
button {
    outline: none;
}

#submitbtn {
margin-top:20px;
}